# Dependency directories
node_modules/
jspm_packages/
env/
venv/
.env
artifacts/
cache/

# Build outputs
dist/
build/
*.pyc
__pycache__/

# IDE / Editor folders
.vscode/
.idea/
.DS_Store
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Databases & Local Storage
*.sqlite3
.data/